<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-toggle auto-hide="false">
        <ion-button>
          <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center">

    <p class="mt-20" *ngIf="!tasks.length">
      No tasks are available at the moment.
    </p>

  </div>

  <ion-row>
    <ion-col>
      <ion-button 
        expand="block"
        fill="outline"
        color="primary"
        (click)="createTask()"
      >
        Create Task
      </ion-button>
    </ion-col>
  </ion-row>  

  <ion-row *ngIf="tasks.length">
    <ion-col>
      <ion-list>
        <ion-card *ngFor="let task of tasks">
          <div class="tasks center">
            <span [ngClass]="task.completed ? 'success' : 'danger'">
              {{ task.title }}
            </span>
          </div>
          <ion-select
            #select
            multiple="false"
            [value]="task.completed"
            class="meta-button"
            (ionChange)="changeStatus(task.id, $event)"
          >
            <ion-select-option [value]="true">Completed</ion-select-option>
            <ion-select-option [value]="false"
              >Pending</ion-select-option
            >
          </ion-select>            
        </ion-card>
      </ion-list>
    </ion-col>
  </ion-row>  

</ion-content>
