.heading {
    padding: 20px 10px 10px;
    text-align: center;
    font-size: large;
    font-weight: 500;
}

.navigate-login {

    cursor: pointer;
    padding: 6px 10px;
    text-align: center;
    font-size: medium;
    font-weight: 400;
    color: #2b7ecc;
}

.form {
    margin-top: 2rem;
    padding: 8px 20px;
}
  